<h2>Imports and Setup</h2>

In [1]:
import pandas as pd
import numpy as np

In [17]:
listings = pd.read_csv('listings-summary.csv')

<h2>Dataset Explortation</h2>

In [18]:
listings.shape

(37548, 18)

In [16]:
listings.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [12]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,2022-06-21,0.27,3,365,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,83.0,30,195,2024-10-05,1.04,1,185,4,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kae,Manhattan,East Harlem,40.80107,-73.94255,Private room,65.0,30,1,2022-06-05,0.03,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cyn,Manhattan,East Harlem,40.78778,-73.94759,Private room,71.0,30,250,2024-10-31,1.37,1,284,4,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.71248,-73.95881,Private room,NaN,30,13,2022-09-12,0.08,2,0,0,NaN

In [20]:
print(listings['neighbourhood_group'].unique())

['Manhattan' 'Brooklyn' 'Queens' 'Bronx' 'Staten Island']

In [22]:
(listings['neighbourhood'].unique())

array(['Midtown', 'Williamsburg', 'East Harlem', 'Fort Greene',
       'Bedford-Stuyvesant', "Hell's Kitchen", 'Flatbush', 'East Village',
       'Greenpoint', 'Lower East Side', 'Chelsea', 'Upper East Side',
       'Kips Bay', 'West Village', 'Harlem', 'Carroll Gardens',
       'Park Slope', 'South Slope', 'Clinton Hill', 'East Flatbush',
       'Prospect Heights', 'Boerum Hill', 'Sunnyside', 'Ridgewood',
       'Mott Haven', 'Morningside Heights', 'Ditmars Steinway',
       'Middle Village', 'Jamaica', 'Brooklyn Heights',
       'Greenwich Village', 'Upper West Side', 'Clason Point',
       'Eastchester', 'Crown Heights', 'Nolita', 'Gowanus', 'Astoria',
       'Kingsbridge', 'Chinatown', 'Bushwick', 'Downtown Brooklyn',
       'Washington Heights', 'Rockaway Beach', 'Windsor Terrace',
       'Gravesend', 'Allerton', 'Sheepshead Bay', 'Emerson Hill',
       'Bensonhurst', 'Shore Acres', 'Vinegar Hill', 'Co-op City',
       'Gramercy', 'Long Island City', 'Sunset Park', 'Tribeca',
       'Theater District', 'Rego Park', 'Kensington', 'Woodside',
       'Prospect-Lefferts Gardens', 'Little Italy', 'SoHo', 'Elmhurst',
       'Murray Hill', 'Maspeth', 'Spuyten Duyvil', 'Briarwood',
       'Brighton Beach', 'East New York', 'Inwood', 'Battery Park City',
       'Fort Hamilton', 'Bayside', 'Jackson Heights', 'New Springville',
       'Red Hook', 'Two Bridges', 'Tottenville', 'Tompkinsville',
       'Columbia St', 'East Elmhurst', 'Cobble Hill', 'Concord',
       'Flushing', 'Melrose', 'College Point', 'DUMBO', 'City Island',
       'Bay Ridge', 'Norwood', 'Concourse', 'Canarsie', 'Port Morris',
       'Arverne', 'Richmond Hill', 'Glendale', 'Longwood',
       'Financial District', 'Queens Village', 'Williamsbridge',
       'Soundview', 'Parkchester', 'Bronxdale', 'NoHo', 'Sea Gate',
       'Flatlands', 'Bay Terrace', 'Ozone Park', 'Fordham', 'Clifton',
       'Woodhaven', 'Borough Park', 'Huguenot', 'Mount Hope',
       'Concourse Village', 'Wakefield', 'Midwood', 'Forest Hills',
       'St. George', 'Civic Center', 'Roosevelt Island',
       'Lighthouse Hill', 'Unionport', 'Randall Manor', 'Kew Gardens',
       'Bellerose', 'Flatiron District', 'Stuyvesant Town', 'Morris Park',
       'Cypress Hills', 'South Ozone Park', 'East Morrisania', 'Tremont',
       'Jamaica Estates', 'West Brighton', 'Manhattan Beach',
       'Marble Hill', 'Springfield Gardens', 'Belmont',
       'Castleton Corners', 'Brownsville', 'Howard Beach', 'Hunts Point',
       'Fresh Meadows', 'Great Kills', 'Pelham Bay', 'Riverdale',
       'Morrisania', 'Grymes Hill', 'Holliswood', 'Corona', 'Edgemere',
       'New Brighton', 'Pelham Gardens', 'Baychester', 'Laurelton',
       'Olinville', 'Navy Yard', 'St. Albans', 'Stapleton',
       'Coney Island', 'Claremont Village', 'Howland Hook', 'Highbridge',
       'South Beach', 'Rosedale', 'Cambria Heights', 'Dyker Heights',
       'Kew Gardens Hills', 'Oakwood', 'Arrochar', 'Hollis', 'Fieldston',
       'Mill Basin', 'Bath Beach', 'Whitestone', 'Edenwald',
       'North Riverdale', 'Mount Eden', 'Morris Heights',
       'Mariners Harbor', 'Fort Wadsworth', 'Westchester Square',
       'New Dorp', 'Far Rockaway', 'Port Richmond', 'Neponsit',
       'Throgs Neck', 'Country Club', 'Willowbrook', 'Douglaston',
       'Bergen Beach', 'Schuylerville', 'Midland Beach', 'West Farms',
       'New Dorp Beach', 'Rosebank', 'Arden Heights', 'Grant City',
       'Richmondtown', 'Jamaica Hills', "Prince's Bay", 'Bayswater',
       "Bull's Head", 'University Heights', 'Woodlawn', 'Belle Harbor',
       'Silver Lake', 'Gerritsen Beach', 'Breezy Point', 'Westerleigh',
       'Graniteville', 'Chelsea, Staten Island', 'Dongan Hills',
       'Van Nest', 'Castle Hill', 'Eltingville', 'Todt Hill', 'Woodrow',
       'Bay Terrace, Staten Island', 'Little Neck'], dtype=object)